<div class="container-fluid mt-1">
  <div class="row" >
  <div class="col-lg-10 mx-auto d-flex justify-content-center">
      <ul id="menu-flters">
        <li data-filter="*" class="filter-active list  m-3 btn btn-outline-danger">All</li>
        <li data-filter=".filter-starters" class="list  m-3 btn btn-outline-danger">Kurthi</li>
        <li data-filter=".filter-main" class="list  m-3 btn btn-outline-danger">Saree</li>
      </ul>
  </div>    
        <div class="row menu-container">
            <div class="col-lg-4 menu-item filter-starters col-md-6">
                <div class="menu-content">
                    <img class="img-fluid d-block mx-auto " src="assets\kurti1.jpg">
                </div>
                <div class="product-content text-center">
                    <span class="d-block  fw-bold">Aline Kurta</span>
                    <span class="d-block">Rs:xcdcxdcxdcxd d/-</span>
                    <span class="d-block fw-bold">Rs:540/-</span>
                    <button class=" btn btn-dark text-white">View More</button>
                  </div>
            </div>
            <div class="col-lg-4 menu-item filter-specialty">
                <div class="menu-content">
                    <img class="img-fluid d-block mx-auto" src="assets\kurti4.jpg">
                </div>
                <div class="product-content text-center">
                    <span class="d-block  fw-bold">Printed cotton Blend Kurta</span>
                    <span class="d-block">Rs:xcdcxdcxdcxd d/-</span>
                    <span class="d-block fw-bold">RS:1500/-</span>
                    <button class=" btn btn-dark text-white">View More</button>
                  </div>
            </div>
            <div class="col-lg-4 menu-item filter-starters">
                <div class="menu-content">
                    <img class="img-fluid d-block mx-auto" src="assets\kurti3.jpg" style="height: 270px;">
                </div>
                <div class="product-content text-center">
                    <span class="d-block t fw-bold">Printed Kurta With Palazzo</span>
                    <span class="d-block">Rs:xcdcxdcxdcxd d/-</span>
                    <span class="d-block fw-bold">RS:3000/-</span>
                    <button class=" btn btn-dark text-white">View More</button>
                  </div>
            </div>
            <div class="col-lg-4 menu-item filter-main mt-3">
                <div class="menu-content">
                    <img class="img-fluid d-block mx-auto" src="assets\saree1.jpg">
                </div>
                <div class="product-content text-center">
                    <span class="d-block  fw-bold">Blue Georgette saree</span>
                    <span class="d-block">Rs:xcdcxdcxdcxd d/-</span>
                    <span class="d-block fw-bold">Rs:3000/-</span>
                    <button class=" btn btn-dark text-white">View More</button>
                  </div>
            </div>
            <div class="col-lg-4 menu-item filter-specialty mt-3">
                <div class="menu-content">
                    <img class="img-fluid d-block mx-auto " src="assets\saree2.jpg">
                </div>
                <div class="product-content text-center">
                    <span class="d-block  fw-bold">Printed red Saree</span>
                    <span class="d-block">Rs:xcdcxdcxdcxd d/-</span>
                    <span class="d-block fw-bold">RS:2500/-</span>
                    <button class=" btn btn-dark text-white">View More</button>
                  </div>
            </div>
            <div class="col-lg-4 menu-item filter-starters mt-3">
                <div class="menu-content">
                    <img class="img-fluid d-block mx-auto " src="assets\saree3.jpg">
                </div>
                <div class="product-content text-center">
                    <span class="d-block fw-bold">Cotton Saree</span>
                    <span class="d-block">Rs:xcdcxdcxdcxd d/-</span>
                    <span class="d-block fw-bold">RS:2750/-</span>
                    <button class=" btn btn-dark text-white">View More</button>
                  </div>
            </div>
        </div>
    </div>
</div>


  
      
  