<nav class="navbar navbar-expand-lg">
  <div class="container-fluid" style="background-color: darkmagenta;">
    <img src="assets\shopz.jpg" style="width: 50px; height: 50px;">
    <a class="navbar-brand text-white" href="#">ShopZee</a>
    <button class="navbar-toggler bg-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon bg-white"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active " aria-current="page" href="#">Home</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link " href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Disabled</a>
        </li>
      </ul>
      
    </div>
  </div>
</nav>
 
